<p>&laquo; <%= link_to "Back to #{@show.name}", show_path(@show.short_name) %></p>

<h2><%= @show.name %> Episodes</h2>

<table>
<% @episodes.each do |season, episodes| %>
  <tr>
    <td colspan="3"><h3>Season <%= season %></h3></td>
  </tr>
  <% episodes.each do |episode| %>
  <tr id="<%= episode.id %>" class="episode">
    <td><%= check_box_tag 'episodes[]', episode.id, episode.watched?(current_user), :id => "episode_state_#{episode.id}" %></td>
    <td><%= episode.episode %></td>
    <td><%= link_to episode.name, show_episode_path(@show.short_name, episode.id) %></td>
  </tr>
  <% end %>
<% end %>
</table>
