<p>&laquo; <%= link_to "Back to #{@show.name} episodes", show_episodes_path(@show.short_name) %></p>

<p id="notice"><%= notice %></p>

<h2><%= @episode.name %></h2>
<p>Season <%= @episode.season %>, Episode <%= @episode.episode %></p>
<%= content_tag( :p, 'Air Date: ' + @episode.air_date.strftime('%m/%d/%Y') ) if @episode.air_date %>
<p><%= @episode.synopsis %></p>