<div id="show_<%= show.id %>" class="show">
  <div class="details">
    <h3><%= link_to show.name, show_path(show.short_name), :class => 'test' %></h3>
    <p><%= link_to 'episodes', show_episodes_path(show) %> | <%= link_to 'remove', '', :class => 'remove' %></p>
    <div class="show-details">
      <div class="progress">
        <div class="complete" style="width: <%= progress(show) %>px;"></div>
        <span class="copy"><%= progress(show) == 100 ? "completed" : "#{progress(show)}% complete" %></span>
      </div>
      <p><%= pluralize show.seasons.size, "season" %>, <%= pluralize show.episodes.size, "episode" %></p>
      <!--<p>Seasons: <%= show.seasons.collect { |season| link_to_unless params[:season] == season.to_s, season, show_path(show, :season => season) }.join(' | ') %></p>-->
    </div>
  </div>
</div>
