<div id="show_<%= show.id %>" class="show">
  <div class="status">
    <%= current_user.shows.include?(show) ? link_to('remove', '', :class => 'remove') : link_to('favorite', '', :class => 'add') %>
  </div>
  <div class="details">
    <h3><%= link_to truncate(show.name, :length => 30), show_episodes_path(show), :class => 'test' %></h3>

    <div class="show-details">
      <div class="progress">
        <div class="complete" style="width: <%= progress(show) %>px;"></div>
        <span class="copy"><%= progress(show) == 100 ? "completed" : "#{progress(show)}% complete" %></span>
      </div>
      <p><%= pluralize show.seasons.size, "season" %>, <%= pluralize show.episodes.size, "episode" %></p>
      <!--<p>Seasons: <%= show.seasons.collect { |season| link_to_unless params[:season] == season.to_s, season, show_path(show, :season => season) }.join(' | ') %></p>-->
    </div>
  </div>
</div>
