<div id="show_<%= show.id %>" class="show">
  <div class="status">
    <%= current_user.shows.include?(show) ? link_to('remove', '', :class => 'remove') : link_to('favorite', '', :class => 'add') %>
  </div>

  <% link_to show_episodes_path(show), :class => 'details' do %>
    <h3><%= truncate(show.name, :length => 25) %></h3>
    <div class="show-details">
      <%= render :partial => 'shared/progress_bar.html.erb', :locals => { :show => show } %>
      <p><%= pluralize show.seasons.size, "season" %>, <%= pluralize show.episodes.size, "episode" %></p>
      <!--<p>Seasons: <%= show.seasons.collect { |season| link_to_unless params[:season] == season.to_s, season, show_path(show, :season => season) }.join(' | ') %></p>-->
    </div>
  <% end %>
</div>
