<% content_for :left_button do %>
  <% current_user ? link_to('Dashboard', root_path, :class => 'back') : link_to('Sign in', new_user_session_path) %>
<% end %>

<% content_for :nav_title do %>
  <div id="title">Shows</div>
<% end %>

<% content_for :right_button do %>
  <% link_to('', shows_path, :class => 'search_button') %>
<% end %>

<div id="search_box"<%=raw ' style="display: none;"' unless @query %>>
  <%= form_tag(shows_path, :method => 'get') do %>
    <input type="search" name="q" id="query" autocorrect="off" autocomplete="off" autocapitalize="off" />
  <% end %>
</div>

<% if @query and @shows.any? %>
<p class="note">Searching for: "<%= @query %>"</p>
<% end %>

<div class="section">
  <div id="shows">
    <%= render :partial => 'shared/show', :collection => @shows, :locals => { :mode => 'all' } %>
    <%=raw "<p class=\"note\">No results for \"#{@query}\"" if @query and @shows.empty? %>
  </div>
</div>