<p>&laquo; <%= link_to "Back to Shows", shows_path %></p>

<div id="show_progress">
  <h3>Your Progress</h3>
  <ul>
    <li><hr /></li>
    <li class="season">
      <span class="season_number">Overall</span>
      <%= render :partial => 'shared/progress_bar', :locals => { :show => @show } %>
    </li>
    <li><hr /></li>
    <% @show.seasons.each do |s| %>
    <li class="season">
      <span class="season_number">Season <%= s %></span>
      <%= render :partial => 'shared/progress_bar', :locals => { :show => @show, :season => s } %>
    </li>
    <% end %>
  </ul>
</div>

<h2><%= @show.name %></h2>
<p id="notice"><%= notice %></p>

<%= link_to 'List all episodes', show_episodes_path(@show) %>
