<!DOCTYPE html>
<html>
  <head>
    <title>Episodelog</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery-1.5.2.min', :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header" class="clearfix">
      <div id="logo">
        <h1>Episode Log</h1>
        <% controller.controller_name + ' - ' + controller.action_name %>
      </div>
      <%= render :partial => 'shared/panel' %>
    </div>

    <div id="menu" class="clearfix">
      <ul>
        <%=raw "<li>" + link_to('Dashboard', root_path) + "</li>" if user_signed_in? %>
        <li><%= link_to 'Shows', shows_path %></li>
      </ul>
    </div>

    <%= content_tag( :p, notice, :id => 'flash', :class => 'notice' ) if notice %>

    <div id="body">
      <div id="content">
        <%= yield %>
        <div style="clear: both"></div>
      </div>
    </div>

    <div id="footer-wrapper">
      <div id="footer">
        <p>Copyright <%= Time.now.year %> &copy; <%= link_to 'Cylence, Inc.', 'http://cylence.com' %></p>
      </div>
    </div>
  </body>
</html>
