<!DOCTYPE html>
<html>
  <head>
    <title>EpisodeLog</title>
    <%= hoptoad_javascript_notifier %>
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="apple-touch-startup-image" href="startup.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= stylesheet_link_tag 'mobile.css' %>
    <%= javascript_include_tag 'jquery-1.6.1.min', 'mobile' %>
    <%= javascript_include_tag 'ga.js' %>
    <%= csrf_meta_tag %>
    <%= render :partial => 'shared/ga' %>
  </head>
  <body>
    <nav>
      <% if content_for?(:left_button) %>
      <div id="left_button"><%= yield :left_button %></div>
      <% end %>

      <% if content_for?(:right_button) %>
      <div id="right_button"><%= yield :right_button %></div>
      <% end %>

      <h1><%= yield :nav_title %></h1>
    </nav>

    <%= content_tag( :p, notice, :id => 'flash', :class => 'notice section', :style => (notice ? '' : 'display: none') ) %>

    <div id="content">
      <%= yield %>
    </div>

    <%= content_tag :div, :id => 'footer' do %>
      <%= link_to 'Sign Out', logout_path %>
    <% end if current_user %>
  </body>
</html>
