<!DOCTYPE html>
<html>
  <head>
    <title>EpisodeLog</title>
    <%= hoptoad_javascript_notifier %>
    <%= stylesheet_link_tag 'episodelog.css' %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'application' %>
    <%= javascript_include_tag 'ga.js' %>
    <%= csrf_meta_tag %>
    <%= render :partial => 'shared/ga' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header_container">
        <div id="header">
          <div id="logo">
            <h1>EpisodeLog</h1>
            <% controller.controller_name + ' - ' + controller.action_name %>
          </div>
          <%= render :partial => 'shared/panel' %>
        </div>
      </div>

      <div id="nav_container">
        <div id="nav">
          <ul>
            <%=raw "<li>" + link_to('Dashboard', root_path) + "</li>" if user_signed_in? %>
            <li><%= link_to 'Shows', shows_path %></li>
          </ul>
        </div>
      </div>

      <%= content_tag( :p, notice, :id => 'flash', :class => 'notice', :style => (notice ? '' : 'display: none') ) %>

      <div id="body">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer_container">
      <div id="footer">
        <p>
          <%= link_to 'Feedback', 'https://convore.com/episodelog/welcome-to-episodelog/' %> <span class="divider">|</span>
          <%= link_to 'Suggest a Show', 'https://convore.com/episodelog/show-suggestions' %> <span class="divider">|</span>
          Copyright &copy; <%= Time.now.year %> <%= link_to 'Cylence, Inc.', 'http://cylence.com' %>
        </p>
      </div>
    </div>
  </body>
</html>
